<!-- Navigation Component -->
<ul class="nav-menu">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item has-dropdown">
        <a href="/copier-rental/copier-for-rent/" class="nav-link">Copier Rental</a>
        <ul class="dropdown-menu">
            <li><a href="/copier-rental/copier-for-rent/">Copier for Rent</a></li>
            <li><a href="/blogs/color-copier-rental/">Color Copier Rental</a></li>
            <li><a href="/copier-rental/printer-and-copier-leasing-smart-solution-for-businesses/copier-lease/">Copier Lease</a></li>
            <li><a href="/copier-rental/printer-and-copier-leasing-smart-solution-for-businesses/short-term-copier-rental/">Short-term Rental</a></li>
        </ul>
    </li>
    <li class="nav-item has-dropdown">
        <a href="/printer-rental/" class="nav-link">Printer Rental</a>
        <ul class="dropdown-menu">
            <li><a href="/printer-rental/printer-for-rent/color-printer-rental-benefits-for-your-business/">Printer for Rent</a></li>
            <li><a href="/printer-rental/printer-for-rent/color-printer-rental-benefits-for-your-business/laser-printer-rental/">Laser Printer</a></li>
            <li><a href="/printer-rental/best-printer-rental-company/inkjet-printer-rental/">Inkjet Printer</a></li>
            <li><a href="/printer-rental/print-all-you-can/">Print All You Can</a></li>
        </ul>
    </li>
    <li class="nav-item"><a href="/blogs/" class="nav-link">Blog</a></li>
    <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
    <li class="nav-item"><a href="/contact/" class="nav-link cta-link">Contact Us</a></li>
</ul>
